ol, p, ul {
  line-height: 1.9;
}

:root {
  // brand colors
  --c-brand: #558fb5;
  --c-brand-light: #498cb8;

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;

  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;

  // custom container colors
  --c-tip: #53e2ab;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // font vars
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;
}

html.dark {
  --c-brand: #558fb5;
  --c-brand-light: #498cb8;
}

// plugin-back-to-top
.back-to-top {
  --back-to-top-color: var(--c-brand);
  --back-to-top-color-hover: var(--c-brand-light);
}

// plugin-docsearch
.DocSearch {
  --docsearch-primary-color: var(--c-brand);
  --docsearch-text-color: var(--c-text);
  --docsearch-highlight-color: var(--c-brand);
  --docsearch-muted-color: var(--c-text-quote);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--c-bg-light);
  --docsearch-searchbox-background: var(--c-bg-lighter);
  --docsearch-searchbox-focus-background: var(--c-bg);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--c-brand);
  --docsearch-hit-color: var(--c-text-light);
  --docsearch-hit-active-color: var(--c-bg);
  --docsearch-hit-background: var(--c-bg);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--c-border-dark);
  --docsearch-footer-background: var(--c-bg);
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-pwa-popup
.pwa-popup {
  --pwa-popup-text-color: var(--c-text);
  --pwa-popup-bg-color: var(--c-bg);
  --pwa-popup-border-color: var(--c-brand);
  --pwa-popup-shadow: 0 4px 16px var(--c-brand);
  --pwa-popup-btn-text-color: var(--c-bg);
  --pwa-popup-btn-bg-color: var(--c-brand);
  --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

// plugin-search
.search-box {
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);

  --search-item-text-color: var(--c-text-lighter);
  --search-item-focus-bg-color: var(--c-bg-light);
}

.theme-default-content img {
  display: block;
  margin: 1.5em auto;
}

// 移动设备
@media (max-width: 719px) {
  .home {
    .features {
      flex-direction: column;
    }

    .feature {
      max-width: 100%;
      padding: 0 1rem;
    }
  }

  .theme-default-content img {
    max-width: 100%;
  }
}

// 用 css patch 实现 collapsible 功能 (自带的不太好用)
// @link https://github.com/vuepress/vuepress-next/issues/397
ul.sidebar-items {
  & > li:nth-of-type(3) > ul.sidebar-item-children > li > ul.sidebar-item-children {
    display: none;
    margin-left: 0.5em;
  }

  & > li:nth-of-type(3) > ul.sidebar-item-children > li > a.active+ul.sidebar-item-children {
    display: block;
  }
}

/** Code **/
// pre[class*="language-" ],
// code[class*="language-"] {
//   white-space: pre-wrap; // 代码自动换行
// }

// div[class*=language-].line-numbers-mode .line-numbers {
//   display: none;
// }

:root {
  // code blocks vars
  --code-bg-color: #f8f8f8;
  --code-hl-bg-color: #e7e6e6;
  --code-ln-color: #c4c4c6;
  --code-ln-wrapper-width: 2.3rem;
}

html.dark {
  --code-bg-color: #2b313a;
  --code-hl-bg-color: #424549;
  --code-ln-color: #768491;

  .code-group__nav-tab {
    color: var(--c-text-lighter);
  }

  .token.punctuation {
    color: #8b9eb0;
  }

  .theme-default-content pre code, .theme-default-content pre[class*=language-] code {
    color: #b9b9b9;
  }
}

div[class*=language-].ext-html:before {
  color: #999;
}

.theme-default-content {
  pre,
  pre[class*='language-'] {
    code {
      color: #525252;
    }
  }
}

.code-group__nav {
  padding-top: 5px;
}

.code-group__nav-tab {
  color: #525252;
  padding: 5px 10px;
}

.code-group__nav-tab-active {
  border-bottom-width: 2px;
}

.code-group__ul {
  margin-bottom: 5px;
}

.token.punctuation {
  color: #24292f;
}

.token.class-name, .token.constant, .token.property, .token.symbol {
  color: #2196f3;
}

.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
  color: #42b983;
}

.token.atrule, .token.important, .token.keyword, .token.selector {
  color: #0367b7;
}

.token.attr-name, .token.deleted, .token.namespace, .token.tag {
  color: #2973b7;
}

.token.boolean, .token.function, .token.number {
  color: #2196f3;
}

.token.entity, .token.operator, .token.url {
  color: #00d187;
}

#main-title {
  position: relative;
}

#main-title .release-tag {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: -10%;
  padding: 3px 8px;
  margin-left: 10px;
  background: var(--c-brand);
  color: #fff;
  border-radius: 4px;
}

/** 一起摇摆 **/
.wave {
  display: inline-block;
  transform-origin: center bottom;
  animation:upAnimation 2.33s ease .8s 3 both;
}
@keyframes upAnimation {
  0% {
    transform: rotate(0deg);
    transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
  }
  10% {
    transform: rotate(-12deg);
    transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
  }
  20% {
    transform: rotate(12deg);
    transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
  }
  28% {
    transform: rotate(-10deg);
    transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
  }
  36% {
    transform: rotate(10deg);
    transition-timing-function:cubic-bezier(0.755, .5, .855, .06);
  }
  42% {
    transform: rotate(-8deg);
    transition-timing-function:cubic-bezier(0.755, .5, .855, .06);
  }
  48% {
    transform: rotate(8deg);
    transition-timing-function:cubic-bezier(0.755, .5, .855, .06);
  }
  52% {
    transform: rotate(-4deg);
    transition-timing-function:cubic-bezier(0.755, .5, .855, .06);
  }
  56% {
    transform: rotate(4deg);
    transition-timing-function:cubic-bezier(0.755, .5, .855, .06);
  }
  60% {
    transform: rotate(0deg);
    transition-timing-function:cubic-bezier(0.755, .5, .855, .06);
  }
  100% {
    transform: rotate(0deg);
    transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
  }
}
